@import url("https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@30..200,24&display=swap");

body {
  margin: auto;
  //height: 0vh;
  display: grid;
  place-content: center;
  //background-color: #000000;
  font-size: 25vw;
  font-family: Nabla;

}

@font-palette-values --qritical {
  font-family: Nabla;
  base-palette: 2;

  // override-colors: 3 #c3c3e1;
}

@font-palette-values --base-dark {
  font-family: Nabla;
  base-palette: 4;
}

@font-palette-values --base-light {
  font-family: Nabla;
  base-palette: 3;
}

span {
  font-palette: --qritical;
}


span.dark {
  font-palette: --base-dark;
}

span.light {
  font-palette: --base-light;
}